/* COMMON */

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Red Hat Text', sans-serif;
    background-color: grey;
}

/* END OF COMMMON */

/* HEADER */

.header-container {
    width: 80%;
    margin: 11.5rem auto 0 auto;
}

.header {
    text-align: center;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    letter-spacing: 4px;
}

/* END OF HEADER */

/* TIMER */

.timer-container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unit-time__number {
    width: 70px;
    height: 70px;
    margin: 0 .6rem;
    color: rgba(251, 96, 135, .8);
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    background: linear-gradient(#2e2c44 50%, #32374d 50%);
    border-radius: 7px;
    box-shadow: 0px 6px 2px black
}

.unit-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unit-time__description {
    color: hsl(237, 18%, 59%);
    text-transform: uppercase;
    font-size: 10px;
}

/* FOOTER */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* END OF FOOTER */